{% extends 'base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('font-awesome-4.5.0/css/font-awesome.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
{% endblock %}

{% block body %}
	
	<div id="container">
    {{ translate }}
	</div>

{% endblock %}
