@font-face {
    font-family: Lato-black;
    src: url("../fonts/lato/Lato-Black.ttf");     
}

@font-face {
    font-family: Lato-black-italic;
    src: url("../fonts/lato/Lato-BlackItalic.ttf");     
}

@font-face {
    font-family: Lato-bold;
    src: url("../fonts/lato/Lato-Bold.ttf");     
}

@font-face {
    font-family: Lato-bold-italic;
    src: url("../fonts/lato/Lato-BoldItalic.ttf");     
}

@font-face {
    font-family: Lato-hairline;
    src: url("../fonts/lato/Lato-Hairline.ttf");     
}

@font-face {
    font-family: Lato-heavy;
    src: url("../fonts/lato/Lato-Heavy.ttf");     
}

@font-face {
    font-family: Lato-heavy-italic;
    src: url("../fonts/lato/Lato-HeavyItalic.ttf");     
}

@font-face {
    font-family: Lato-italic;
    src: url("../fonts/lato/Lato-Italic.ttf");     
}

@font-face {
    font-family: Lato-light;
    src: url("../fonts/lato/Lato-Light.ttf");     
}

@font-face {
    font-family: Lato-light-italic;
    src: url("../fonts/lato/Lato-LightItalic.ttf");     
}

@font-face {
    font-family: Lato-medium;
    src: url("../fonts/lato/Lato-Medium.ttf");     
}

@font-face {
    font-family: Lato-medium-italic;
    src: url("../fonts/lato/Lato-MediumItalic.ttf");     
}

@font-face {
    font-family: Lato-regular;
    src: url("../fonts/lato/Lato-Regular.ttf");     
}

@font-face {
    font-family: Lato-semi-bold;
    src: url("../fonts/lato/Lato-Semibold.ttf");     
}

@font-face {
    font-family: Lato-semi-bold-italic;
    src: url("../fonts/lato/Lato-SemiboldItalic.ttf");     
}

@font-face {
    font-family: Lato-thin;
    src: url("../fonts/lato/Lato-Thin.ttf");     
}

@font-face {
    font-family: Lato-thin-italic;
    src: url("../fonts/lato/Lato-ThinItalic.ttf");     
}