$padding-footer-li: 5px 0 0 5px;

.main-footer {
	width: 100%;
	background-color: $footer-background;
	.blogroll {
		margin-top: 5px;
		h3 {
			@extend .header-section-footer;
		}
		ul.page-links {
			li {
				padding: $padding-footer-li;
				a {
					@extend .link-footer;
				}
			}
		}
	}
	.categories {
		margin-top: 5px;
		h3 {
			@extend .header-section-footer;
		}
		ul.main-categories {
			li {
				padding: $padding-footer-li;
				a {
					@extend .link-footer;
				}
			}
		}
	}
	.contact-footer {
		margin-top: 5px;
		h3 {
			@extend .header-section-footer;
		}
		form#contact-form-footer {
			.contact-form-element {
				@include label-form-footer();
				width: 100%;
				#email-input {
					@extend .input-form-footer;
				}
				@include msg('error');
			}

			.contact-form-element {
				@include label-form-footer();
				width: 100%;
				#subject-input {
					@extend .input-form-footer;
				}
				@include msg('error');
			}
			.contact-form-element {
				@include label-form-footer();
				width: 100%;
				#message-input {
					@extend .input-form-footer;
				}
				@include msg('error');
			}
			.contact-form-element {

				height: 100%;
				#submit-input {
					margin-top: 10px;
					padding: 15px;
					@include btn-form($footer-background);
				}
				@include msg('success');
				
			}
		}
	}
	.copyright {
		border-top: 1px solid #777777;
		padding: 15px;
		margin-top: 20px;
		span {
			color: #aaaaaa;
		}
	}
}