aside.sidebar {
	min-height: 100%;
	padding-top: 20px;
	.search-widget {
		@include add-props($widget-sidebar-props);
		p {
			@include add-props($widget-sidebar-header);
			font-family: $perspective-sansregular;
			font-size: 1.1em;
		}
		#form-search {
			height: 45px;
			text-align: center;
			#search-form-element {
				height: 100%;
				display: inline-block;
				label {
					height: 100%;
					.input-search {
						height: 100%;
						@extend .input-form-sidebar;
					}
				}
			}

			#submit-form-element {
				height: 100%;
				display: inline-block;
				button.button-search {
					@include btn-form($sidebar-widget-background);
				}
			}
		}
	}

	.most-rating-widget {
		@include add-props($widget-sidebar-props);
		.most-rating-header {
			h3 {
				@include add-props($widget-sidebar-header);
			}
		}
		ul.most-rating-list {
			li.most-rating-item {
				margin-top: 10px;
				margin-bottom: 10px;
				.post-icon {
					.icon {
						font-size: 2.4em;
						color: $sidebar-widget-color;
					}
				}
				
				.post-info {
					.post-title {
						padding: 0px 0px 5px 0px;
						h3 {
							a {
								color: $sidebar-widget-color;
								text-decoration: none;
								font-family: $perspective-sansbold;
								&:hover {
									color: $sidebar-widget-color + #222222;
									text-shadow: 0px 0px 1px #dddddd;
								}
							}
						}
					}

					.post-time {
						//padding: 10px 5px;
						time {
							color: $sidebar-widget-color + #555555;
							font-family: $lato-italic;
						}
					}
				}
			}
		}
	}

	.categories-widget {
		@include add-props($widget-sidebar-props);
		.categories-widget-header {
			h3 {
				@include add-props($widget-sidebar-header);
			}
		}
		ul.main-categories-widget {
			li.main-categories-item {

					
				a {
					color: adjust-lightness($sidebar-widget-color, 0%);
					font-weight: bold;
					display: block;
					padding: 5px 0 5px 0;
				}
				ul.sub-categories-widget {
					li.sub-categories-item {
						padding: 5px 0 5px 10px;
						a {
							color: $sidebar-widget-color;
							font-weight: normal;
							display: block;
							padding: 0px;
						}
					}
				}
			}
		}
	}

	.tags-cloud-widget {
		@include add-props($widget-sidebar-props);
		.tags-header {
			span {
				display: inline-block;
				font-size: 1.5em;
			}
			h3 {
				@include add-props($widget-sidebar-header);
				display: inline-block;
				padding-left: 10px;
			}
		}
		ul.tags-list {
			li.tags-item {
				@include add-props($widget-sidebar-tag);

				a {
					color: $sidebar-widget-color;
					text-decoration: none;
					padding: 10px 20px;
					display: block;
					background-image: linear-gradient(to bottom , $sidebar-widget-background, #777777);
					border-radius: 15px;
					border: 2px solid #D6D6D6;
				}
			}
		}
	}
}