@mixin btn-form($color) {
	height: 100%;
	padding: 0 10px;
	background-image: linear-gradient(to bottom , $color, adjust-lightness($color, -30%));
	color: adjust-lightness($color, 50%);
	outline: none;
	border: 0;
	&:active {
		background-image: linear-gradient(to bottom , adjust-lightness($color, -30%), $color);
		color: adjust-lightness($color, 40%);
	}
}

@mixin btn-comment($color) {
	color: adjust-lightness($color, -50%);
	outline: none;
	background-color: $color;
	border: 1px solid adjust-lightness($color, -40%);
	border-radius: 10px;
	height: 100%;
	padding: 0 10px;
	font-family: $perspective-sansbold;
	transition: all 0.3s;
	&:hover {
		background-color: adjust-lightness($color, -10%);
		color: adjust-lightness($color, 40%);
	}
}
