@import "../fonts/lato/lato-fonts";
@import "../fonts/caviardreams/caviardreams-fonts";
@import "../fonts/perspectivesans/perspectivesans-fonts";

//  =========== Lato fonts ==============

$lato-black: Lato-black;
$lato-black-italic: Lato-black-italic;
$lato-bold: Lato-bold;
$lato-bold-italic: Lato-bold-italic;
$lato-hairline: Lato-hairline;
$lato-heavy: Lato-heavy;
$lato-heavy-italic: Lato-heavy-italic;
$lato-italic: Lato-italic;
$lato-light: Lato-light;
$lato-light-italic: Lato-light-italic;
$lato-medium: Lato-medium;
$lato-medium-italic: Lato-medium-italic;
$lato-regular: Lato-regular;
$lato-semi-bold: Lato-semi-bold;
$lato-semi-bold-italic: Lato-semi-bold-italic;
$lato-thin: Lato-thin;
$lato-thin-italic: Lato-thin-italic;

//  =========== Caviardreams fonts ==============

$caviar-dreamsregular: caviar_dreamsregular;
$caviar-dreamsitalic: caviar_dreamsitalic;
$caviar-dreamsbold-italic: caviar_dreamsbold_italic;
$caviar-dreamsbold: caviar_dreamsbold;

//  =========== Perspectivesans fonts ==============

$perspective-sansregular: perspective_sansregular;
$perspective-sansitalic: perspective_sansitalic;
$perspective-sansbold-italic: perspective_sansbold_italic;
$perspective-sansbold: perspective_sansbold;
$perspective-sans-blackitalic: perspective_sans_blackitalic;
$perspective-sans-blackregular: perspective_sans_blackregular;