$footer-head-font: (
	font-family: $caviar-dreamsbold,
 	font-size: 1.6em,
	color: #cccccc,
	font-weight: normal
	 );

$footer-form-placeholder: (color: #aaaaaa, opacity: 1);
$sidebar-form-placeholder: (color: #dddddd, opacity: 1);

body {
		background-color: $body-background;
}
	
@mixin label-form-footer 
{
	legend {
		span {
			color: #cccccc;
			font-size: 1.1em;
		}
		margin: 10px 0;
	}
}

@mixin add-props ($props) {
	@each $key, $value in $props {
			#{$key}: $value;	
		}
}

@mixin placeholder($props) {
	&::-webkit-input-placeholder {
		@include add-props ($props)
	}
	&::-moz-input-placeholder {
		@include add-props ($props)
	}
	&::-ms-input-placeholder {
		@include add-props ($props)
	}

}

@mixin input-form($background-color: #0F0F0F) {
	width: 100%;
	padding: 10px;
	background-color: $background-color;
	color: adjust-lightness($background-color, 90%);
	&:focus {
		outline: none;
		box-shadow: 0px 0px 5px adjust-lightness($background-color, 100%);
	}
	border: 2px solid adjust-lightness($background-color, 50%);
}

@mixin btn-form($color) {
	height: 100%;
	background-image: linear-gradient(to bottom , $color, adjust-lightness($color, -30%));
	color: adjust-lightness($color, 50%);
	outline: none;
	border: 0;
	&:active {
		background-image: linear-gradient(to bottom , adjust-lightness($color, -30%), $color);
		text-shadow: 1px 1px 0px adjust-lightness($color, 50%);
		color: adjust-lightness($color, 40%);
	}
}

@mixin header-section-content() {
	h3 {
		font-family: $perspective-sansregular;
		font-size: 2em;
		font-weight: bold;
		color: $body-background;
	}
}

.input-form-sidebar {
	@include input-form(#898989);
	@include placeholder($sidebar-form-placeholder);
}

.input-form-footer {
	@include input-form(#0F0F0F);
	@include placeholder($footer-form-placeholder);

}

.link-footer {
	color: #cccccc;
	text-decoration: none;
	font-size: 1em;
	&:hover {
		color: #999999;
	}
	width: 100%;
	height: 100%;
	display: block;

}

.header-section-footer {
	padding: 10px 0;
	@include add-props($footer-head-font);
}

.header-section-main {
	padding: 20px 0;
	text-align: center;
	background-color: adjust-lightness($body-background, -25%);
	box-shadow: $sidebar-widget-boxshadow;
	margin: 20px 0;
	@include header-section-content();
}